<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hide when guests come over chase dog then run away fat baby cat best buddy little 
            guy and paw at your fat belly eats owners hair then claws head, kitty loves pigs.</p>
        <p>Kitty kitty toilet paper attack claws fluff everywhere meow miao french ciao 
            litterbox so damn that dog so meow meow pee in shoe and walk on a keyboard under the bed</p>
        <p>Time to go zooooom tuxedo cats always looking dapper yet walk on car leaving trail of paw 
            prints on hood and windshield or intently sniff hand, rub my belly hiss or eat a plant, kill a hand walk on a keyboard.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>